* {
  box-sizing: border-box;
  outline: none;
}
body {
  overflow-x: hidden;
}

body,
ul,
li,
p,
h1,
h2,
h3 {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: $base-font-color;
}

ul {
  li {
    list-style: none;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.layout {
  font-family: $base-font;
  font-size: $base-font-size;
  color: $base-font-color;
}

.invisible {
  display: none;
}

.svg-sprite {
  display: none;
}

@media ($tablet-width) {
  .invisible {
    //display: block;
  }
}
