$base-font-size: 15px;

$base-font-color: #000;
$dark-grey-color: #444444;
$accent-font-color: #63d1bb;

$base-font: 'Open Sans', 'Arial', sans-serif;
$base-font-bold: 'Open Sans Bold', 'Arial', sans-serif;

$tablet-width: 'min-width: 768px';
$desktop-width: 'min-width: 1050px';

$retina-mobile: '(min-resolution: 144dpi), (min-resolution: 1.5dppx)';
$retina: '($desktop-width) and (min-resolution: 144dpi),
          ($desktop-width) and (min-resolution: 1.5dppx)';
