.about {
  padding-top: 40px;
  padding-bottom: 25px;
  position: relative;
  margin-top: 30px;
}

.about__item {
  font-size: 18px;
  color: $dark-grey-color;
  padding-bottom: 30px;
  font-family: $base-font-bold;
  font-weight: bold;
  width: 200px;

  &:last-of-type {
    padding: 0;
  }

  &::before {
    content: '';
    width: 55px;
    height: 40px;
    display: block;
    margin-bottom: 10px;
    background-repeat: no-repeat;
  }

  &--flower {
    width: 180px;

    &::before {
      background-image: url('../img/icon-feature-1.svg');
    }
  }

  &--rub {
    &::before {
      background-image: url('../img/icon-feature-3.svg');
      margin-bottom: 12px;
    }
  }

  &--heart {
    width: 220px;

    &::before {
      background-image: url('../img/icon-feature-5.svg');
    }
  }

  &--clew {
    width: 260px;

    &::before {
      background-image: url('../img/icon-feature-2.svg');
    }
  }

  &--rocket {
    width: 260px;

    &::before {
      background-image: url('../img/icon-feature-4.svg');
    }
  }

  &--gift {
    width: 250px;

    &::before {
      background-image: url('../img/icon-feature-6.svg');
    }
  }
}

@media ($tablet-width) {
  .about {
    padding-top: 60px;
  }

  .about__list {
    display: flex;
    flex-wrap: wrap;
    max-width: 630px
  }

  .about__item {
    //flex-basis: 250px;
    flex-basis: 50%;
    font-size: 22px;
    padding-bottom: 53px;

    &--flower {
      order: 1;
    }

    &--rub {
      order: 3;
    }

    &--heart {
      order: 5;
    }

    &--clew {
      order: 2;
    }

    &--rocket {
      order: 3;
    }

    &--gift {
      order: 6;
    }

    &:nth-of-type(n+4) {
      padding-left: 16px;
    }
  }
}

@media ($desktop-width) {
  .about {
    padding-left: 175px;
    padding-top: 85px;
    padding-bottom: 30px;
  }
}
