.btn {
  display: block;
  font-family: $base-font-bold;
  &:hover {
    background-color: $dark-grey-color;
    color: #fff;

    a {
      color: #fff;
    }
  }

  &:active {
    color: #8d8d8d;

    a {
      color: #8d8d8d;
    }
  }

  &--modal,
  &--modal:hover,
  &--modal:active {
    color: #fff;
    background-color: $accent-font-color;
    border: none;
  }

  font-size: 17px;
  text-transform: uppercase;
  color: $dark-grey-color;
  text-align: center;
  padding: 10px 25px;
  font-family: $base-font-bold;
  background-color: transparent;
  border: 2px solid $dark-grey-color;
  cursor: pointer;
  width: 100%;

  a {
    color: $dark-grey-color;
    //font-weight: bold;
    font-family: $base-font-bold;
  }
}
