.catalog-form__section {
  border: none;
  margin: 0 0 33px;
  padding: 0;
}

.catalog-form-section {
  &--contacts {
    .fieldset-wrap {
      margin-bottom: 33px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}

.catalog-form-section__title {
  font-size: 17px;
  font-family: $base-font-bold;
  color: $accent-font-color;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  padding-bottom: 27px;

  span {
    min-width: 70px;
  }

  &::after {
    content: '';
    width: 100%;
    height: 1px;
    display: block;
    background-color: $accent-font-color;
    margin-left: 30px;
  }
}

input[type='tel'] {
  content: '';
  display: block;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-image: url('../img/icon-phone.svg');
  background-size: 25px;
  background-position: 100% 0;
}

input[type='email'] {
  content: '';
  display: block;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-image: url('../img/icon-mail.svg');
  background-size: 25px;
  background-position: 100% 0;
}

.catalog-form-section__option {
  padding-bottom: 22px;

  &:last-of-type {
    padding-bottom: 0;
  }

  label {
    font-size: 17px;
    font-family: $base-font-bold;
    line-height: 18px;
  }

  input,
  textarea {
    width: 100%;
    padding: 16px;
  }

  input[type='radio'],
  input[type='checkbox'] {
    display: none;
  }

  input + label {
    &::before {
      content: "";
      display: inline-block;
      width: 22px;
      height: 22px;
      margin-right: 24px;
      vertical-align: middle;
      border: 9px solid #ffffff;
      box-shadow: 0 0 0 2px #444444;
    }
  }

  input[type='radio'] + label {
    &::before {
      border-radius: 50%;
    }
  }

  input[type='radio']:checked + label {
    &::before {
      background: #1abc9c;
      box-shadow: 0 0 0 2px #c7c7c7;
    }
  }

  input[type='checkbox']:checked + label {
    &::before {
      background-image: url(../img/icon-tick.svg);
      background-size: 22px 22px;
      background-repeat: no-repeat;
      width: 22px;
      vertical-align: middle;
      box-shadow: 0 0 0 2px #c7c7c7;
    }
  }

  input[placeholder],
  textarea {
    font-size: 17px;
    font-family: $base-font;
    line-height: 18px;
    color: #d2d2d2;
  }

  input[type='text'],
  input[type='tel'],
  input[type='email'] {
    padding: 16px 0;
    border: 0;
    border-bottom: 2px solid $base-font-color;
  }

  input,
  textarea {
    &:hover,
    &:active,
    &:focus {
      border-color: $accent-font-color;
    }
  }

  &:hover {
    input + label {
      &::before {
        box-shadow: 0 0 0 2px $accent-font-color;
      }
    }
  }
}

@media ($tablet-width) {
  .catalog-form {
    .container {
      padding-top: 50px;
      padding-bottom: 50px;
      margin: 0;
    }
  }

  .catalog-form-section,
  .catalog-form__section {
    margin: 0;

    &--color {
      .container {
        padding-bottom: 10px;
      }
    }
    &--color,
    &--contacts {
      background-color: #f1f1f1;

      input {
        background-color: #f1f1f1;
      }
    }
  }

  .catalog-form-section__title {
    &::after {
      display: none;
    }
  }

  .catalog-form-section__option-list {
    width: 500px;

    .catalog-form-section__option {
      padding-bottom: 40px;

      &:last-of-type {
        padding-bottom: 0;
      }

      &--contacts {
        &:last-of-type {
          padding-bottom: 40px;
        }
      }
    }

    &--color {
      display: flex;
      flex-wrap: wrap;

      input + label {
        &::before {
          border: 9px solid #f1f1f1;
        }
      }

      .catalog-form-section__option {
        width: 200px;
      }
    }

    &--initials {
      p {
        display: flex;
        align-items: center;
        padding-right: 30px;
      }

      .catalog-form-section__option {
        display: flex;
      }
    }
  }

  .fieldset-wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .form-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .catalog-form__prompt {
      align-items: center;
      padding-bottom: 0;
    }

    .btn {
      max-width: 230px;
      order: -1;
    }
  }
}
