.catalog-form {
  padding-bottom: 55px;
}

.catalog-form__prompt {
  font-size: 14px;
  line-height: 16px;
  align-items: center;
  padding-bottom: 35px;
}

@media ($tablet-width) {
  .catalog-form__prompt {
    font-size: 17px;
    padding-bottom: 0;
  }
}

@media ($desktop-width) {
  .catalog-form {
    padding-bottom: 45px;
    
    .container {
      padding-left: 115px;

      &--form-footer {
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 225px;
      }
    }
  }

  .catalog-form-section__title {
    //position: absolute;
    //left: 110px;
  }

  .catalog-form-section__option {
    width: 700px;

    &--contacts {
      width: 700px;
    }
  }

  .catalog-form-section__option-list {
    width: 750px;

    &--initials {
      width: 700px;
    }
  }

  .form-footer {
    width: 700px;
    //margin-left: auto;
  }
}
