.catalog-form__section {
  border: none;
  margin: 0 0 33px;
  padding: 0;

  &--textarea {
    margin: 0;
  }
}

.catalog-form-section {
  &--contacts {
    .fieldset-wrap {
      margin-bottom: 33px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}

.catalog-form-section__title {
  font-size: 17px;
  font-family: $base-font-bold;
  color: $accent-font-color;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  padding-bottom: 20px;

  span {
    min-width: 70px;
    font-weight: bold;
    //padding-top: 10px;
  }

  &::after {
    content: '';
    width: 100%;
    height: 1px;
    display: block;
    background-color: $accent-font-color;
    margin-left: 30px;
  }
}

input[type='tel'] {
  content: '';
  display: block;
  width: 27px;
  //height: 30px;
  background-repeat: no-repeat;
  background-image: url('../img/icon-phone.svg');
  background-size: 30px;
  background-position: 95% 0;

  &:hover,
  &:active {
    background-image: url('../img/icon-phone-accent.svg');
  }
}

input[type='email'] {
  content: '';
  display: block;
  width: 30px;
  //height: 30px;
  background-repeat: no-repeat;
  background-image: url('../img/icon-mail.svg');
  background-size: 30px;
  background-position: 95% 0;

  &:hover,
  &:active {
    background-image: url('../img/icon-mail-accent.svg');
  }
}

.catalog-form-section__option {
  padding-bottom: 29px;
  position: relative;

  &:last-of-type {
    padding-bottom: 0;
  }

  label {
    font-size: 17px;
    font-family: $base-font-bold;
    line-height: 18px;
    font-weight: bold;
  }

  span {
    position: absolute;
    padding-right: 30px;
    padding-top: 10px;
  }

  input,
  textarea {
    width: 100%;
    padding: 16px;
    border-width: 2px;
    resize: vertical;
  }

  input[type='radio'],
  input[type='checkbox'] {
    display: none;
  }

  input + label {
    &::before {
      content: "";
      display: inline-block;
      width: 15px;
      height: 15px;
      margin-right: 30px;
      vertical-align: middle;
      border: 9px solid #ffffff;
      box-shadow: 0 0 0 2px #444444;
    }
  }

  input[type='radio'] + label {
    &::before {
      border-radius: 50%;
    }
  }

  input[type='radio']:checked + label {
    &::before {
      background: #1abc9c;
      box-shadow: 0 0 0 2px #c7c7c7;
    }
  }

  input[type='checkbox']:checked + label {
    &::before {
      background-image: url(../img/icon-tick.svg);
      background-size: 15px 15px;
      background-repeat: no-repeat;
      width: 15px;
      vertical-align: middle;
      box-shadow: 0 0 0 2px #c7c7c7;
    }
  }

  input[placeholder],
  textarea {
    font-size: 17px;
    font-family: $base-font;
    line-height: 18px;
    color: #d2d2d2;
  }

  input[type='text'],
  input[type='tel'],
  input[type='email'] {
    padding: 14px;
    border: 0;
    border-bottom: 2px solid $base-font-color;
    padding-left: 15px;
  }

  input[type='tel'],
  input[type='email'] {
    padding-top: 0;
  }

  input,
  textarea {
    &:hover,
    &:active,
    &:focus {
      border-color: $accent-font-color;
    }
  }

  &:hover {
    input + label {
      &::before {
        box-shadow: 0 0 0 2px $accent-font-color;
      }
    }
  }
}

@media ($tablet-width) {
  .catalog-form {
    padding-bottom: 35px;

    .container {
      padding-top: 50px;
      padding-bottom: 50px;
      margin: 0;
    }

    .container--form-footer {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  .catalog-form-section,
  .catalog-form__section {
    margin: 0;

    &--color {
      .container {
        //padding-bottom: 10px;
        padding-bottom: 20px;
      }
    }
    &--color,
    &--contacts {
      background-color: #f1f1f1;

      input {
        background-color: #f1f1f1;
      }

      .fieldset-wrap {
        margin-bottom: 0;
      }
    }
  }

  .catalog-form-section__title {
    padding-top: 15px;

    &::after {
      display: none;
    }
  }

  .catalog-form-section__option-list {
    width: 500px;

    .catalog-form-section__option {
      padding-bottom: 30px;

      label {
        font-size: 18px;
      }

      &:last-of-type {
        padding-bottom: 0;
      }

      &--contacts {
        &:last-of-type {
          padding-bottom: 30px;
        }
      }
    }

    &--color {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      input + label {
        &::before {
          border: 9px solid #f1f1f1;
        }
      }

      .catalog-form-section__option {
        flex-basis: 47%;

        input[type='tel'],
        input[type='email'] {
          padding-top: 10px;
        }
      }
    }

    &--initials {
      p {
        display: flex;
        align-items: center;
        padding-right: 30px;
      }

      .catalog-form-section__option {
        display: flex;
      }
    }
  }

  .catalog-form-section__option {
    input[type='tel'],
    input[type='email'] {
      padding-top: 10px;
    }

    input + label {
      &::before {
        width: 30px;
        height: 30px;
      }
    }

    input[type='checkbox']:checked + label {
      &::before {
        background-size: 30px 30px;
        width: 30px;
      }
    }
  }

  .fieldset-wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .form-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    //.catalog-form__prompt {
    //  font-size: 13px;
    //  line-height: 16px;
    //  align-items: center;
    //  padding-bottom: 0;
    //}

    .btn {
      max-width: 230px;
      order: -1;
    }
  }

  //.catalog-form__prompt {
  //  font-size: 17px;
  //  padding-top: 55px;
  //  display: flex;
  //  justify-content: flex-end;
  //}

}

@media ($desktop-width) {
  .catalog-form-section {
    input[type='tel'],
    input[type='email'] {
      background-position: 99% 0;
    }
  }

  .catalog-form-section__option-list {
    &--color {
      .catalog-form-section__option {
        flex-basis: 30%;
      }
    }

    .catalog-form-section__option {
      padding-bottom: 27px;

      &--contacts {
        &:last-of-type {
          padding-bottom: 25px;
        }
      }
    }
  }

  .catalog-form-section__option {
    input[placeholder],
    textarea {
      font-size: 18px;
    }

    label {
      font-size: 19px;
    }
  }
}
