.feedback__content {
  color: $dark-grey-color;
  line-height: 30px;
}

.feedback__author {
  padding-top: 40px;
}

.feedback__name {
  font-size: 18px;
}

.feedback__nickname {
  font-size: 17px;
  color: $dark-grey-color;
}
