.logo {
  display: block;
  text-align: center;
  //width: 160px;

  &--footer {
    display: none;
  }
}

@media ($tablet-width) {
  .logo {
    &--footer {
      display: block;

      svg {
        width: 100px;
      }
    }
  }
}
