.page-menu__item {
  position: relative;
  font-size: 17px;
  font-family: $base-font-bold;
  line-height: 24px;
  border-bottom: 1px solid #ececec;

  &--decorated {
    a {
      &::before {
        content: '';
        width: 20px;
        height: 20px;
        background-color: transparent;
        background-repeat: no-repeat;
        position: absolute;
        left: 30px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  &--search {
    a {
      &::before {
        background-image: url('../img/icon-search.svg');
      }
    }
  }

  &--basket {
    a {
      &::before {
        background-image: url('../img/icon-cart.svg');
      }
    }
  }

  a {
    padding: 28px 75px;
    display: block;
  }
}

.page-menu__logo {
  .logo {
    display: none;
    margin: 0 auto;
    background-image: url('../img/logo-mobile.svg');
    width: 85px;
    height: 35px;
    background-repeat: no-repeat;
  }
}

.page-menu__list.container {
  padding: 0 0;
}

@media ($tablet-width) {
  .page-menu {
    border-bottom: 1px solid #f1f1f1;
  }
  .page-menu__list {
    display: flex;
    align-items: center;
    padding: 0 15px;
    justify-content: space-between;
  }

  .page-menu__list.container {
    padding: 0 15px;
  }

  .page-menu__item {
    border: none;

    &--catalog,
    &--order {
      position: absolute;
      bottom: -65px;
    }

    &--order {
      left: 180px;
    }

    a {
      padding: 34px;
    }

    &--search {
      border-left: 1px solid #f1f1f1;

      span {
        display: none;
      }

      a {
        padding-top: 58px;
        padding-right: 45px;
      }
    }

    &--basket {
      padding-left: 48px;
      border-left: 1px solid #f1f1f1;
    }
  }

  .page-menu__logo {
    display: block;
    padding: 0 90px 0 35px;

    flex-grow: 2;

    .logo {
      display: block;
      background-image: url('../img/logo-tablet.svg');
      width: 113px;
      height: 46px;

      &:hover {
        opacity: 0.6;
      }

      &:active {
        opacity: 0.3;
      }
    }
  }
}

@media ($desktop-width) {
  .page-menu__item {
    &--catalog,
    &--order {
      position: relative;
      top: 0;
      left: 0;
    }

    &--catalog {
      border-right: 1px solid #f1f1f1;
    }
  }

  .page-menu__logo {
    .logo {
      background-image: url('../img/logo-desktop.svg');
      width: 150px;
      height: 75px;
    }
  }
}
