.page-content__title {
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  background-color: #f1f1f1;
  padding: 75px 0;

  &--index {
    padding-bottom: 130px;
    background-image: url('../img/hero-mobile@1x.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 50%;
  }
}

.page-content__description {
  font-size: 13px;
  padding: 30px 0;
}

@media ($tablet-width) {
  .page-content__title {
    &--index {
      background-image: url('../img/hero-desktop@1x.jpg');
      height: 640px;
    }
  }
}

@media ($desktop-width) {
  .page-content__description {
    &--form {
      padding-left: 60px;
    }
  }
}

@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .page-content__title {
    &--index {
      background-image: url('../img/hero-mobile@2x.jpg');
    }
  }
}

@media ($tablet-width) and (min-resolution: 144dpi),
          ($tablet-width) and (min-resolution: 1.5dppx) {
  .page-content__title {
    &--index {
      background-image: url('../img/hero-desktop@2x.jpg');
    }
  }
}
