.page-submenu {
  display: none;
}

.page-submenu__list {
  display: flex;
}

.page-submenu__item {
  padding-right: 50px;
  font-family: $base-font-bold;
  //font-weight: bold;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media ($tablet-width) {
  .page-submenu {
    right: 0;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    /* margin: -14px; */
    z-index: 1;
  }

  .page-submenu__list {
    display: none;
  }
}

@media ($desktop-width) {
  .page-submenu {
    //display: flex;
    justify-content: space-between;
    margin-bottom: -40px;
    padding-top: 18px;
    position: relative;
    //z-index: 1;
  }

  .page-submenu__list {
    display: flex;
  }
}
