.page-footer {
  text-align: center;
  background-color: #f1f1f1;
}

.social-links {
  display: flex;
  justify-content: space-between;
}

.copyright {
  font-size: 20px;
  border-top: 1px solid #ececec;
  font-family: $base-font-bold;
  display: flex;
  justify-content: center;
  align-items: center;
  //font-weight: bold;
}

.html-academy-logo {
  padding-left: 30px;
}

.map {
  background-image: url(../img/map-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 460px;
  position: relative;

  &::after {
    content: '';
    display: block;
    width: 70px;
    height: 100px;
    background-image: url('../img/icon-map-pin.svg');
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.footer-wrapper {
  & > * {
    padding: 23px 60px;
  }

  a {
    &:hover {
      svg {
        fill: $accent-font-color;
      }
    }

    &:active {
      svg {
        opacity: 0.3;
      }
    }
  }
}

@media ($tablet-width) {
  .map {
    background-image: url('../img/map-tablet@1x.jpg');
    margin-bottom: 55px;
  }

  .footer-wrapper {
    display: flex;
    justify-content: space-between;

    & > * {
      padding: 50px 0;
    }
  }

  .social-links {
    flex-basis: 240px;
    padding-left: 97px;
    align-items: center;
  }
}

@media ($desktop-width) {
  .map {
    flex-basis: 50%;
    background-image: url('../img/map-desktop@1x.jpg');
    margin-top: 50px;
  }

  .page-footer {
    .container {
      padding-left: 50px;
    }
  }
}

@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .map {
    background-image: url('../img/map-mobile@2x.jpg');
  }
}

@media ($tablet-width) and (min-resolution: 144dpi),
($tablet-width) and (min-resolution: 1.5dppx) {
  .map {
    background-image: url('../img/map-tablet@2x.jpg');
  }
}

@media ($desktop-width) and (min-resolution: 144dpi),
($desktop-width) and (min-resolution: 1.5dppx) {
  .map {
    background-image: url('../img/map-desktop@2x.jpg');
  }
}
