.page-menu-toggle {
  width: 21px;
  height: 21px;
  cursor: pointer;
  background-image: url('../img/icon-menu-close.svg');
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  position: absolute;
  right: 30px;
  transform: translateY(-50%);
  top: 50%;

  &--cancel {
    width: 20px;
    height: 14px;
    background-image: url('../img/icon-menu-open.svg');
  }
}
