.pagination__item {
  font-size: 19px;
  color: #fff;
  text-decoration: none;
  font-family: $base-font-bold;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;

  &:active {
    p {
      opacity: 0.3;
    }
  }

  &--toys {
    &:hover {
      height: 125px;

      p {
        margin-bottom: 10px;
      }
    }

    &::after {
      content: '';
      min-width: 60px;
      height: 60px;
      background-image: url('../img/icon-toy.svg');
      background-repeat: no-repeat;
      display: block;
      background-position: center;
    }
  }

  &--interior {
    &:hover {
      height: 125px;

      p {
        margin-bottom: 10px;
      }
    }

    &::after {
      content: '';
      min-width: 60px;
      height: 60px;
      background-image: url('../img/icon-interior.svg');
      background-repeat: no-repeat;
      display: block;
      background-position: center;
    }
  }

  &:nth-child(even) {
    background-color: #63d1bb;

    &:hover {
      background-color: #59d5bc;
    }
  }

  &:nth-child(odd) {
    background-color: #56c3b2;

    &:hover {
      background-color: #46c1ae;
    }

    &:active {
      background-color: #46c1ae;
    }
  }
}

.pagination.container {
  padding: 0;
}

@media ($tablet-width) {
  .pagination {
    min-width: 768px;
    padding: 0 50px;
    display: flex;
    justify-content: center;
  }

  .pagination.container {
    padding: 0 50px;
    height: 125px;
  }

  .pagination__item {
    min-width: 50%;
  }
}

@media ($desktop-width) {
  .pagination {
    min-width: 768px;
    padding: 0 50px;
  }
}
