.section-title {
  font-size: 25px;
  font-family: $base-font-bold;
  padding-bottom: 35px;
}

@media ($tablet-width) {
  .section-title {
    font-size: 43px;
  }
}

@media ($tablet-width) {
  .section-title {
    font-size: 53px;
  }
}
