.slider {
  padding-top: 25px;
  padding-bottom: 45px;

  .btn {
    margin: 0 auto;
    display: block;
  }
}

.slider__controls {
  padding: 30px 0 40px;
  display: flex;


}

.slider__control {
  background-color: transparent;
  border: none;
  border: 1px solid #ececec;
  padding: 12px 37px;
  cursor: pointer;
  font-size: 0;
  width: 50%;
  border-collapse: collapse;

  &:hover {
    svg {
      opacity: 0.6;
    }
  }

  &:active {
    svg {
      opacity: 0.3;
    }
  }
}

.slider-wrapper.container {
  min-width: 100%;
}

.slider {
  .section-title {
    padding-bottom: 23px;
  }
}

  @media ($tablet-width) {
    .slider-wrapper {
      background-image: url('../img/review@1x.jpg');
      background-size: 45%;
      background-repeat: no-repeat;
    }

    .slider {
      position: relative;
      margin-bottom: 65px;
      padding-top: 73px;

      .section-title {
        padding-bottom: 45px;
      }

      .btn {
        max-width: 176px;
        position: absolute;
        top: 50px;
        transform: translateY(80%);
        right: 0;
      }
    }

    .slider__control {
      max-width: 140px;
      padding: 12px 20px;
      border: none;
    }

    .slider__controls {
      position: absolute;
      right: 0;
      bottom: 16px;
    }

    .slider-wrapper.container {
      min-width: 100%;
    }
  }

  @media ($desktop-width) {
    .slider-wrapper {
      background-size: 350px;
    }

    .slider-wrapper.container {
      padding: 0;
      min-width: 100%;
    }

    .slider {
      padding-left: 175px;
      padding-bottom: 90px;
      padding-top: 65px;
      margin-bottom: 65px;
    }

    .slider .section-title {
      padding-bottom: 40px;
    }
  }

  @media ($tablet-width) and (min-resolution: 144dpi),
  ($tablet-width) and (min-resolution: 1.5dppx) {
    .slider-wrapper {
      background-image: url('../img/review@2x.jpg');
    }
  }
