.slider {
  padding-top: 40px;
  padding-bottom: 40px;
  .btn {
    margin: 0 auto;
    display: block;
  }
}

.slider__controls {
  padding: 40px 0 35px;
  display: flex;


}

.slider__control {
  background-color: transparent;
  border: none;
  border: 1px solid #ececec;
  padding: 12px 37px;
  cursor: pointer;
  font-size: 0;
  width: 50%;
  border-collapse: collapse;

  &:hover {
    svg {
      opacity: 0.6;
    }
  }

  &:active {
    svg {
      opacity: 0.3;
    }
  }
}

.slider-wrapper.container {
  min-width: 100%;
}

@media ($tablet-width) {
  .slider-wrapper {
    background-image: url('../img/review@1x.jpg');
    background-size: 50%;
    background-repeat: no-repeat;
  }

  .slider {
    position: relative;

    .btn {
      max-width: 176px;
      position: absolute;
      top: 0;
      transform: translateY(80%);
      right: 0;
    }
  }

  .slider__control {
    max-width: 140px;
    padding: 12px 15px;
    border: none;
  }
  .slider__controls {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .slider-wrapper.container {
    min-width: 100%;
  }
}

@media ($desktop-width) {
  .slider-wrapper {
    background-size: 350px;
  }

  .slider-wrapper.container {
    padding: 0;
    min-width: 100%;
  }

  .slider {
    padding-left: 175px;
  }
}

@media ($tablet-width) and (min-resolution: 144dpi),
($tablet-width) and (min-resolution: 1.5dppx) {
  .slider-wrapper {
    background-image: url('../img/review@2x.jpg');
  }
}
